*

.open-sans-normal{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  .btn{
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
  }

header{
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* section title bg shared style */
.secondery-bg{
    background-color: #FFF8F3;
}
.section-title{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;
}
.dark2{
    font-size: 17px;
    font-weight: 300;

}
.text-center{
    text-align: center;
}
/* section shared style */
section{margin: 50px 0px;}





nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 35px 200px;
}
.dark-2{
    color: #474747;
}
.navTitle{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
}
.vColor{
    color:rgb(238, 118, 13)
}
nav ul{
    display: flex;
    align-items: center;
}
/* banner */
#banner{
    display: flex;
    justify-content: space-between;
    margin: 0 0 35px 200px;
    align-items: center;
}
.hi{
    font-size: 45px;
    font-weight: 600;
}
.name{
    font-size: 85px;
    font-weight: 800;

}
.banner-profile{
    width: 584px;
    height: 676px;

}
.header-button{
    gap: 20px;
}
/* about section */
.about{
    padding: 100px 160px;
   
    
}
.about-items{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.aboutDiv{
    text-align: center;
    background-color:white;
    
}

/* skill section styles */
.skill-container{
    display: flex;
    gap:24px;
}
section .skill{
    padding: 20px 30px ;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}
.margin{
    margin: 0px 150px;
}
.skill-container{
    margin-top: 35px;
}
/* resume  */
.resume-container{
    display:flex ;
    gap: 30px;
}
.resumeTitle{
    font-size: 37px;
    font-weight: 700;
   color:rgba(71, 71, 71, 1)
}


.edu-ex{
    font-size: 30px;
    font-weight: 700;
   color:rgba(71, 71, 71, 1)
}
.sub-title{
    font-size: 25px;
    font-weight: 700;
   color:rgba(71, 71, 71, 1)
}



.institution{
    font-weight: 600;
    font-size: 20px;
    color: rgba(71, 71, 71, 1);
}
.socialForm{
    background-color: #FFF8F3;
    display: flex;
    gap: 40px;
    
}
form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
input{
    height: 40px;
    width: 300px;
    border-radius: 5px;
    border:none;
}
#message{
    height: 200px;
   
}